!
! Last configuration change at {{ timestamp }}
!
hostname {{ hostname }}
!
service timestamps debug datetime msec
service timestamps log datetime msec
!
no aaa new-model
!
! Basic Security Settings
enable secret {{ enable_secret }}
!
! SNMP Settings
{% if snmp_enabled %}
snmp-server community {{ snmp_community }} RO
snmp-server location {{ snmp_location }}
snmp-server contact {{ snmp_contact }}
{% endif %}
!
! NTP Configuration
{% for server in ntp_servers %}
ntp server {{ server }}
{% endfor %}
!
! Logging Configuration
logging buffered {{ logging_buffer_size }}
{% for host in syslog_servers %}
logging host {{ host }}
{% endfor %}
!
! Access Lists
{% for acl in access_lists %}
ip access-list extended {{ acl.name }}
{% for rule in acl.rules %}
 {{ rule }}
{% endfor %}
!
{% endfor %}
!
line con 0
 exec-timeout {{ console_timeout }} 0
line vty 0 4
 exec-timeout {{ vty_timeout }} 0
 login local
 transport input ssh
!
end 